.header_one{
	text-align: center;
	margin-top: 110px;
	font-family:  "papyrus",fantasy;
	font-weight: bold;
}
.image{
	display: block;
}
.OL_list{
	font-weight: bold;
	font-size: 20px;
}
.list:hover{
	color: orange;
}